.active_class {
  color: #ffffff;
  border-bottom: 1px solid crimson;
}

.menu_style{
  width: 100%;
  line-height: 60px;
  background-color: black;
  display: flex;
  justify-content: space-around;
}